<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% block title %}Doc Library{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('bp_client.home') }}" class="navbar-brand">DocLib</a>
        <div class="navbar-circles">
            <form method="post" action="{{ url_for('bp_client.sync') }}">
                <button type="submit" class="circle-btn" title="Sync">&#x21bb;</button>
            </form>
            <form method="post" action="{{ url_for('bp_client.index_docs') }}">
                <button type="submit" class="circle-btn" title="Index">&#x2795;</button>
            </form>
        </div>
        <a href="{{ url_for('bp_client.settings') }}" class="navbar-item">Settings</a>
    </div>
    <div class="body-content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
